.currentUser {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 1rem;
}

.username {
  font-weight: bold;
  color: var(--accent);
}

.logout-btn {
  font-size: 1rem;
  padding: 0.6em 1.2em;
}

@media (max-width: 550px) {
  .currentUser {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    padding: 0.5rem 0;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
  }

  .username {
    font-size: 1.1rem;
  }

  .logout-btn {
    width: calc(100% - 2rem);
    margin: 0 auto;
    text-align: center;
    background-color: var(--bg);
    border-radius: 8px;
  }
}
