.select-current-page {
  display: inline-block;
  width: 10%;
  margin-left: 10%;
}

.select-current-page label {
  font-size: 0.75rem;
}

.select-current-page input {
  width: 2rem;
}
.select-current-page input:hover {
  border-color: var(--hover);
}
