/* ----- Dashboard -----*/

.dashboard-item {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  background: #272727;
  width: 50rem;
  margin: 0.75rem auto;
  padding: 0.25rem;
  box-shadow: var(--lightShadow);
}

.dashboard-input-container {
  display: block;
  min-height: 5rem;
  padding: 0 0.25rem;
}

.dashboard-form-container {
  display: inline-block;
  width: 36rem;
  margin: 0 1rem;
}

.dashboard-form-info {
  font-size: smaller;
  display: block;
  text-align: left;
  width: fit-content;
  padding: 0 0.125rem;
  margin: 0.125rem auto;
}

.dashboard-form-info input {
  vertical-align: bottom;
}

.dashboard-form {
  margin: 0 auto;
  width: 100%;
  padding: 0.125rem;
}

.dashboard-form fieldset {
  width: 60%;
  padding: 0.125rem;
  margin: 0.25rem auto;
  border: none;
}

.label-main {
  display: block;
  text-align: left;
  padding: 0 0.125rem;
  margin: 0.125rem auto;
  margin-left: 0;
}

.dashboard-form label input {
  margin: 0 0.25rem;
}

.label-checkbox {
  display: inline;
}

.dashboard-btn-container {
  display: inline-block;
  box-sizing: border-box;
  width: 30rem;
  min-height: 5rem;
  margin: 0 4rem;
  padding: 0.25rem;
}

.dashboard-btn {
  display: inline-block;
  height: 3rem;
  width: 5.5rem;
  margin: 0.5rem 0.5rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.125rem;
  color: aliceblue;
  transition: all 200ms;
}
.dashboard-btn:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.dashboard-btn:active {
  transform: scale(1);
}

.add-btn {
  background: linear-gradient(to bottom, #228b22, #228b2282);
}
.add-btn:hover {
  border-color: lightgreen;
  box-shadow: 0 0 0.25rem 1px #32cd32;
}

.delete-btn {
  background: linear-gradient(to bottom, darkred, rgba(139, 0, 0, 0.516));
}
.delete-btn:hover {
  border-color: red;
  box-shadow: 0 0 0.25rem 1px #ff6347;
}

.change-btn {
  background: linear-gradient(
    to bottom,
    darkslategray,
    rgba(47, 79, 79, 0.489)
  );
}
.change-btn:hover {
  border-color: darkgray;
  box-shadow: 0 0 0.25rem 1px darkgray;
}

.page-btn {
  display: inline-block;
  margin: 0.25rem 1rem;
  vertical-align: top;
}

.dashboard-data-container {
  display: block;
  height: 25rem;
  padding: 0;
  overflow: auto;
  background-image: linear-gradient(to bottom, blue, indigo);
  border: 0.25rem solid var(--secondary-bgColor);
}
.dashboard-data-container table {
  margin: 0.25rem auto;
  border-collapse: collapse;
  background-color: rgb(0, 94, 255);
  box-shadow: 0 0 0.25rem 0.25rem rgba(0, 0, 0, 0.45);
}
.dashboard-data-container td,
th {
  color: white;
  padding: 0.125rem 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.6);
}
.dashboard-data-container th {
  position: sticky;
  top: 0;
  z-index: 5;
  font-size: 1.125rem;
  background-color: rgb(0, 94, 255);
}

.table-item:hover {
  cursor: pointer;
  background-color: rgb(160, 160, 0);
}

@keyframes flipflop {
  0% {
    background-color: rgb(160, 160, 0);
  }
  60% {
    background-color: rgb(0, 94, 255);
  }
  100% {
    background-color: rgb(160, 160, 0);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .dashboard-data-container table {
    animation: flipflo infinite 3s ease-in;
  }
}

.background-div {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  overflow: scroll;
}

.select-container {
  margin-bottom: 0;
  box-shadow: var(--lightShadow);
}
.select-container-btn {
  margin: 0.25rem 10% 0.5rem 0.5rem;
}

.select-table {
  display: inline-block;
  width: 38%;
}

.select-table select {
  border: 0.125rem solid gray;
  width: 10rem;
  text-align: center;
  font-size: 1.25rem;
  margin: 0.25rem;
}

.select-table label {
  font-size: 1.25rem;
}
