/* ----- Home -----*/
.home {
  width: 69rem;
  margin: 0 auto;
  --blue: #3f48cc;
  --red: #ec1c24;
  --green: #0eaf45;
  --yellow: #fff200;
}

.svg-container {
  margin: 0 auto;
}

.homepage-svg {
  width: 6rem;
  height: 6rem;
}

.homepage-section {
  margin: 0 auto 1.5rem;
}

.homepage-h1 {
  font-size: 3rem;
  margin: 1rem auto;
}

.homepage-h1,
.homepage-h2 {
  margin: 1rem auto;
  font-weight: bold;
}

.homepage-h3 {
  text-decoration: underline;
}

.homepage-p {
  margin: 1rem auto;
  line-height: normal;
  width: 80%;
}

.img-container {
  max-width: 25rem;
  max-height: 25rem;
  margin: 1rem auto;
}
.img-container img {
  max-width: 100%;
  height: auto;
}

.bold {
  font-weight: bold;
}

.bg-color {
  background-color: var(--bg);
}

.blue {
  color: var(--blue);
}
.red {
  color: var(--red);
}
.green {
  color: var(--green);
}
.yellow {
  color: var(--yellow);
}
