/* ----- Home -----*/
.home {
  width: 69rem;
  margin: 0 auto;
}

/* -----  Placeholders -----*/
.homepage-svg {
  width: 8rem;
  height: 8rem;
}

.homepage-section {
  margin-bottom: 1rem;
  border: 1px solid white;
}

.homepage-h2 {
}

.homepage-h3 {
}

.homepage-p {
}

.img-container {
  width: 25rem;
  height: 10rem;
  margin: 1rem auto;
  background-color: rgb(62, 0, 62);
}
