/* ----- Home -----*/
.home {
  width: 69rem;
  margin: 0 auto;
  --blue: #3f48cc;
  --red: #ec1c24;
  --green: #0eaf45;
  --yellow: #fff200;
}

.homepage-svg {
  width: 8rem;
  height: 8rem;
}

.homepage-section {
  margin-bottom: 1rem;
  border: 1px solid white;
}

.homepage-h2 {
  font-weight: bold;
}

.homepage-h3 {
  text-decoration: underline;
}

.homepage-p {
  margin: 1rem auto;
  line-height: normal;
  width: 80%;
}

.img-container {
  max-width: 25rem;
  max-height: 25rem;
  margin: 1rem auto;
}
.img-container img {
  max-width: 100%;
  height: auto;
}

.bold {
  font-weight: bold;
}

.blue {
  color: var(--blue);
}
.red {
  color: var(--red);
}
.green {
  color: var(--green);
}
.yellow {
  color: var(--yellow);
}
