/* ----- Login -----*/
.logo {
  padding: 5px;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  div:nth-of-type(1) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Login page */
.login-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0a0a23;
  width: 8rem;
  height: 8rem;
  margin: 0.5rem auto;
  border-radius: 50%;
}

.login-image img {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.login-form {
  max-width: 30rem;
  min-width: 19rem;
  min-height: 19rem;
  margin: 2rem auto;
  padding: 0.5rem 0 3rem;
  background-color: #272727;
}

.login-form h2 {
  width: 80%;
  margin: 1rem auto;
}

.form-label {
  display: block;
  margin: 0.75rem auto;
  width: 80%;
}

.form-input {
  margin: 4px 0 8px 0;
  width: calc(100% - 50px);
  box-sizing: border-box;
}
