.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.loading {
  font-size: 5rem;
  margin: 0;
}

/* .login-image {
  filter: brightness(100%);
} */
