/* ----- General -----*/
#root {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0.125rem;
  text-align: center;
}
:root {
  --primary: #1a1a1a;
  --secondary: #242424;
  --accent: #2176ff;
  --alt-color1: #1a1a1a;
  --alt-color2: #0a0a23;
  --alt-color3: #242424;
  --alt-color3: #ddd8b8;

  --text: #ffffff;
  --text-alt: #2176ff;

  --bg: #1a1a1a;
  --bg-alt: #242424;

  --hover: #2176ff;
  --hover-alt: #f25353;

  --border: #2176ff;

  --lightShadow: 2px 4px 2px 0px rgba(0, 0, 0, 0.5);

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text);
  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* minor & optional */
@media (prefers-color-scheme: light) {
  :root {
    color: var(--text);
    background-color: var(--bg);
  }
}

body {
  margin: 0.125rem;
  min-width: 390px; /* iPhone viewport width*/
  min-height: 100vh;
}

h1 {
  font-size: 3rem;
  line-height: 1.1;
}

a {
  font-weight: 500;
  color: var(--text);
  text-decoration: inherit;
}
a:hover {
  color: var(--hover);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin: 0.25rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--bg);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  color: var(--hover);
  border-color: var(--hover);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

select {
  transition: border-color 0.25s;
}
select:hover {
  cursor: pointer;
  border-color: var(--hover);
}

footer {
  font-size: small;
  width: 69rem;
  padding: 0.5rem;
  margin: 10rem auto 2rem;
  background-color: var(--bg-alt);
  border-left: var(--accent) 0.125rem solid;
  box-shadow: var(--lightShadow);
}

/*---------------------------------------------------------------------------------*/
/* ----- Navbar -----*/
.navbar {
  margin: 0.5rem auto 1rem;
  width: 69rem;
  background-color: var(--bg-alt);
  border-top: var(--accent) 0.125rem solid;
  border-left: var(--accent) 0.125rem solid;
  box-shadow: var(--lightShadow);
}
.navbar a {
  display: inline-block;
  background-color: var(--bg);
  border-radius: 0.5em;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin: 0.25em;
  transition: border-color 0.25s;
}

.navbar a:hover {
  border-color: var(--hover);
}

.navlinks {
  display: inline-block;
  margin: auto;
}

.abc {
  display: none;
}
