/* ----- General -----*/
#root {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0.125rem;
  text-align: center;
}
:root {
  --primary-bgColor: #242424;
  --secondary-bgColor: #272727;

  --primary-color: black;
  --secondary-color: black;
  --accent-color: black;

  --primary-textColor: rgba(255, 255, 255, 0.85);
  --secondary-textColor: #646cff;

  --primary-hoverColor: black;
  --secondary-hoverColor: #f25353;

  --alt-color1: #1a1a1a;
  --alt-color2: #0a0a23;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--primary-textColor);
  background-color: var(--primary-bgColor);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* minor & optional */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

body {
  margin: 0.125rem;
  min-width: 390px; /* iPhone viewport width*/
  min-height: 100vh;
}

h1 {
  font-size: 3rem;
  line-height: 1.1;
}

a {
  font-weight: 500;
  color: var(--secondary-textColor);
  text-decoration: inherit;
}
a:hover {
  color: var(--secondary-hoverColor);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin: 0.25rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--alt-color1);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

select {
  transition: border-color 0.25s;
}
select:hover {
  cursor: pointer;
  border-color: var(--secondary-textColor);
}

footer {
  font-size: small;
  width: 69rem;
  padding: 0.5rem;
  margin: 10rem auto 2rem;
  background-color: var(--secondary-bgColor);
}

/*---------------------------------------------------------------------------------*/
/* ----- Navbar -----*/
.navbar {
  margin: 0.5rem auto 1rem;
  width: 69rem;
  background-color: var(--secondary-bgColor);
}
.navbar a {
  display: inline-block;
  background-color: var(--alt-color1);
  border-radius: 0.5em;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin: 0.25em;
  transition: border-color 0.25s;
}

.navbar a:hover {
  border-color: var(--secondary-hoverColor);
}

.navlinks {
  display: inline-block;
  margin: auto;
}

.currentUser {
  display: inline-block;
  font-size: larger;
  padding: 0.5rem 0.5rem;
  margin-left: 40%;
  margin-right: 10%;
}

.background-div {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  overflow: scroll;
}

.abc {
  display: none;
}
